In [15]:
! pip install word2number

Requirement already satisfied: word2number in c:\users\vyjay\appdata\local\programs\python\python311\lib\site-packages (1.1)

[notice] A new release of pip is available: 23.2.1 -> 23.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [46]:
import numpy as np
import pandas as pd
from word2number import w2n
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
from sklearn import metrics

In [47]:
data = pd.read_csv(r'C:\Users\vyjay\Documents\Flight_Fare\Clean_Dataset.csv')

data.head()

,Unnamed: 0,airline,flight,source_city,departure_time,stops,arrival_time,destination_city,class,duration,days_left,price
0,0,SpiceJet,SG-8709,Delhi,Evening,zero,Night,Mumbai,Economy,2.17,1,5953
1,1,SpiceJet,SG-8157,Delhi,Early_Morning,zero,Morning,Mumbai,Economy,2.33,1,5953
2,2,AirAsia,I5-764,Delhi,Early_Morning,zero,Early_Morning,Mumbai,Economy,2.17,1,5956
3,3,Vistara,UK-995,Delhi,Morning,zero,Afternoon,Mumbai,Economy,2.25,1,5955
4,4,Vistara,UK-963,Delhi,Morning,zero,Morning,Mumbai,Economy,2.33,1,5955

In [48]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300153 entries, 0 to 300152
Data columns (total 12 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Unnamed: 0        300153 non-null  int64
 1   airline           300153 non-null  object
 2   flight            300153 non-null  object
 3   source_city       300153 non-null  object
 4   departure_time    300153 non-null  object
 5   stops             300153 non-null  object
 6   arrival_time      300153 non-null  object
 7   destination_city  300153 non-null  object
 8   class             300153 non-null  object
 9   duration          300153 non-null  float64
 10  days_left         300153 non-null  int64
 11  price             300153 non-null  int64
dtypes: float64(1), int64(3), object(8)
memory usage: 27.5+ MB

In [49]:
data = data.drop('flight', axis=1)

In [50]:
data.isnull().sum()

Unnamed: 0          0
airline             0
source_city         0
departure_time      0
stops               0
arrival_time        0
destination_city    0
class               0
duration            0
days_left           0
price               0
dtype: int64

In [51]:
for i in range(len(data)):
    if data['stops'][i] == 'two_or_more':
        data.loc[i, 'stops'] = 2
    else:
        data.loc[i, 'stops'] = w2n.word_to_num(str(data['stops'][i]))

In [52]:
categorical_columns = ['airline', 'source_city', 'departure_time', 'arrival_time', 'destination_city', 'class']
data_encoded = pd.get_dummies(data, columns=categorical_columns)
print(data_encoded)
print(data_encoded.columns)

        Unnamed: 0 stops  duration  days_left  price  airline_AirAsia  \
0                0     0      2.17          1   5953            False
1                1     0      2.33          1   5953            False
2                2     0      2.17          1   5956             True
3                3     0      2.25          1   5955            False
4                4     0      2.33          1   5955            False
...            ...   ...       ...        ...    ...              ...
300148      300148     1     10.08         49  69265            False
300149      300149     1     10.42         49  77105            False
300150      300150     1     13.83         49  79099            False
300151      300151     1     10.00         49  81585            False
300152      300152     1     10.08         49  81585            False

        airline_Air_India  airline_GO_FIRST  airline_Indigo  airline_SpiceJet  \
0                   False             False           False              True
1                   False             False           False              True
2                   False             False           False             False
3                   False             False           False             False
4                   False             False           False             False
...                   ...               ...             ...               ...
300148              False             False           False             False
300149              False             False           False             False
300150              False             False           False             False
300151              False             False           False             False
300152              False             False           False             False

        ...  arrival_time_Morning  arrival_time_Night  \
0       ...                 False                True
1       ...                  True               False
2       ...                 False               False
3       ...                 False               False
4       ...                  True               False
...     ...                   ...                 ...
300148  ...                 False               False
300149  ...                 False                True
300150  ...                 False                True
300151  ...                 False               False
300152  ...                 False               False

        destination_city_Bangalore  destination_city_Chennai  \
0                            False                     False
1                            False                     False
2                            False                     False
3                            False                     False
4                            False                     False
...                            ...                       ...
300148                       False                     False
300149                       False                     False
300150                       False                     False
300151                       False                     False
300152                       False                     False

        destination_city_Delhi  destination_city_Hyderabad  \
0                        False                       False
1                        False                       False
2                        False                       False
3                        False                       False
4                        False                       False
...                        ...                         ...
300148                   False                        True
300149                   False                        True
300150                   False                        True
300151                   False                        True
300152                   False                        True

        destination_city_Kolkata  destination_city_Mumbai  class_Business  \
0                          False                     True           False
1                          False                     True           False
2                          False                     True           False
3                          False                     True           False
4                          False                     True           False
...                          ...                      ...             ...
300148                     False                    False            True
300149                     False                    False            True
300150                     False                    False            True
300151                     False                    False            True
300152                     False                    False            True

        class_Economy
0                True
1                True
2                True
3                True
4                True
...               ...
300148          False
300149          False
300150          False
300151          False
300152          False

[300153 rows x 37 columns]
Index(['Unnamed: 0', 'stops', 'duration', 'days_left', 'price',
       'airline_AirAsia', 'airline_Air_India', 'airline_GO_FIRST',
       'airline_Indigo', 'airline_SpiceJet', 'airline_Vistara',
       'source_city_Bangalore', 'source_city_Chennai', 'source_city_Delhi',
       'source_city_Hyderabad', 'source_city_Kolkata', 'source_city_Mumbai',
       'departure_time_Afternoon', 'departure_time_Early_Morning',
       'departure_time_Evening', 'departure_time_Late_Night',
       'departure_time_Morning', 'departure_time_Night',
       'arrival_time_Afternoon', 'arrival_time_Early_Morning',
       'arrival_time_Evening', 'arrival_time_Late_Night',
       'arrival_time_Morning', 'arrival_time_Night',
       'destination_city_Bangalore', 'destination_city_Chennai',
       'destination_city_Delhi', 'destination_city_Hyderabad',
       'destination_city_Kolkata', 'destination_city_Mumbai', 'class_Business',
       'class_Economy'],
      dtype='object')

In [53]:
data_encoded.head()

,Unnamed: 0,stops,duration,days_left,price,airline_AirAsia,airline_Air_India,airline_GO_FIRST,airline_Indigo,airline_SpiceJet,...,arrival_time_Morning,arrival_time_Night,destination_city_Bangalore,destination_city_Chennai,destination_city_Delhi,destination_city_Hyderabad,destination_city_Kolkata,destination_city_Mumbai,class_Business,class_Economy
0,0,0,2.17,1,5953,False,False,False,False,True,...,False,True,False,False,False,False,False,True,False,True
1,1,0,2.33,1,5953,False,False,False,False,True,...,True,False,False,False,False,False,False,True,False,True
2,2,0,2.17,1,5956,True,False,False,False,False,...,False,False,False,False,False,False,False,True,False,True
3,3,0,2.25,1,5955,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,True
4,4,0,2.33,1,5955,False,False,False,False,False,...,True,False,False,False,False,False,False,True,False,True

In [54]:
X=data_encoded[data_encoded.columns[~data_encoded.columns.isin(['price'])]]

y=data_encoded['price']

In [55]:
X_train,X_test, y_train, y_test= train_test_split(X, y, test_size=0.2, random_state=42)

In [56]:
total_size = len(X)
train_percentage = len(X_train) / total_size * 100
test_percentage = len(X_test) / total_size * 100

print(f"Training data size: {len(X_train)} samples, {train_percentage:.2f}% of the total dataset.")
print(f"Testing data size: {len(X_test)} samples, {test_percentage:.2f}% of the total dataset.")

Training data size: 240122 samples, 80.00% of the total dataset.
Testing data size: 60031 samples, 20.00% of the total dataset.

In [57]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import GridSearchCV

In [58]:
decision_tree_model = DecisionTreeRegressor()

In [59]:
param_grid = {
    'max_depth': [3, 5, 7, 10],
    'min_samples_split': [2, 5, 10],
    'min_samples_leaf': [1, 2, 4]
}

In [60]:
grid_search = GridSearchCV(estimator=decision_tree_model, param_grid=param_grid, cv=5, scoring='neg_mean_squared_error', n_jobs=-1)

In [61]:
grid_search.fit(X_train, y_train)

GridSearchCV(cv=5, estimator=DecisionTreeRegressor(), n_jobs=-1,
             param_grid={'max_depth': [3, 5, 7, 10],
                         'min_samples_leaf': [1, 2, 4],
                         'min_samples_split': [2, 5, 10]},
             scoring='neg_mean_squared_error')

In [62]:
best_params = grid_search.best_params_
best_model = grid_search.best_estimator_

In [63]:
importances = best_model.feature_importances_

In [64]:
from sklearn.metrics import mean_squared_error
train_accuracies = {}
for feature, importance in zip(X_train.columns, importances):
    # Temporarily set feature importance to zero and evaluate the model
    X_train_temp = X_train.copy()
    X_train_temp[feature] = 0
    temp_model = DecisionTreeRegressor(**best_params)  # Use the best parameters found during GridSearchCV
    temp_model.fit(X_train_temp, y_train)
    temp_pred = temp_model.predict(X_train_temp)
    temp_mse = mean_squared_error(y_train, temp_pred)
    train_accuracies[feature] = temp_mse

In [65]:
train_accuracies_df = pd.DataFrame(list(train_accuracies.items()), columns=['Feature', 'Train MSE'])
train_accuracies_df.to_csv('train_accuracies.csv', index=False)

In [66]:
final_model = DecisionTreeRegressor(**best_params)
final_model.fit(X, y)

DecisionTreeRegressor(max_depth=10, min_samples_leaf=2, min_samples_split=10)

In [88]:
# Print the best parameters found by GridSearchCV
print("Best Parameters:", best_params)

# Print feature importances
print("\nFeature Importances:")
for feature, importance in zip(X_train.columns, importances):
    print(f"{feature}: {importance:.4f}")

Best Parameters: {'max_depth': 5, 'min_samples_split': 2, 'min_samples_leaf': 1}

Feature Importances:
Unnamed: 0: 0.9208
stops: 0.0018
duration: 0.0437
days_left: 0.0116
airline_AirAsia: 0.0004
airline_Air_India: 0.0007
airline_GO_FIRST: 0.0000
airline_Indigo: 0.0003
airline_SpiceJet: 0.0000
airline_Vistara: 0.0096
source_city_Bangalore: 0.0000
source_city_Chennai: 0.0000
source_city_Delhi: 0.0000
source_city_Hyderabad: 0.0008
source_city_Kolkata: 0.0013
source_city_Mumbai: 0.0018
departure_time_Afternoon: 0.0001
departure_time_Early_Morning: 0.0001
departure_time_Evening: 0.0002
departure_time_Late_Night: 0.0000
departure_time_Morning: 0.0001
departure_time_Night: 0.0001
arrival_time_Afternoon: 0.0002
arrival_time_Early_Morning: 0.0001
arrival_time_Evening: 0.0002
arrival_time_Late_Night: 0.0000
arrival_time_Morning: 0.0001
arrival_time_Night: 0.0003
destination_city_Bangalore: 0.0003
destination_city_Chennai: 0.0001
destination_city_Delhi: 0.0011
destination_city_Hyderabad: 0.0006
destination_city_Kolkata: 0.0013
destination_city_Mumbai: 0.0020
class_Business: 0.0000
class_Economy: 0.0000

In [27]:
print("Sample Prediction:", sample_prediction)

Sample Prediction: [5976.73684211]

In [32]:
average_train_mse = np.mean(list(train_accuracies.values()))

In [34]:
print("Training MSE:", average_train_mse)

Training MSE: 19389367.601587582

In [35]:
y_test_pred = final_model.predict(X_test)
test_mse = mean_squared_error(y_test, y_test_pred)

In [36]:
print("Testing MSE:", test_mse)

Testing MSE: 19553603.55754695

In [37]:
r_squared_train = 1 - (average_train_mse / np.var(y_train))

In [38]:
print("Training Percentage (R-squared):", r_squared_train * 100)

Training Percentage (R-squared): 96.23590077378255

In [39]:
r_squared_test = 1 - (test_mse / np.var(y_test))

In [40]:
print("Testing Percentage (R-squared):", r_squared_test * 100)

Testing Percentage (R-squared): 96.20673599071212

In [42]:
from sklearn.metrics import r2_score

# Calculate R-squared for training data
r_squared_train = r2_score(y_train, final_model.predict(X_train))

# Print Training R-squared
print("Training R-squared:", r_squared_train)

# Part 9: Evaluate the Model on Testing Data
y_test_pred = final_model.predict(X_test)

# Calculate R-squared for testing data
r_squared_test = r2_score(y_test, y_test_pred)

# Print Testing R-squared
print("Testing R-squared:", r_squared_test)

Training R-squared: 0.9627717853440284
Testing R-squared: 0.9620673599071212